
    .charity__above-the-fold__desktop-view {
        display: none;
    }

    .charity__above-the-fold__mobile-view {
        display: none;
    }

    .charity__above-the-fold__tablet-view {
        height: 100vh;
    }

    .global__above-the-fold__back-to-first {
        width: 100%;
        /* width: 48px; */
        height: auto;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .charity__above-the-fold__image-wrapper__tablet {
        /* background-color: orange; */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60vh;
        width: auto;
        background-image: url(/assets/playground__background-mobile.png);
        background-position: right;
        z-index: -1;
        object-fit: cover;
        background-repeat: no-repeat;
    }

    .charity__above-the-fold__image-wrapper__tablet img {
        height: 80%;
        width: auto;
        z-index: 2;
        filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.25));
    }

    .charity__above-the-fold__text-wrapper {
        /* background-color: blanchedalmond; */
        height: 15vh;
        padding-top: 40px;
        padding-left: 5%;
    }

    .charity__above-the-fold__text-wrapper h3 {
        font-size: 24px;
        font-weight: 500;
        /* margin-bottom: -20px; */
    }

    .charity__above-the-fold__text-wrapper h1 {
        /* background-color: lightgreen; */
        font-size: 12vw;
        font-weight: 200;
        z-index: 2;
    }

    .charity__above-the-fold__tablet-lead-wrapper {
        background-color: bisque;
        height: 25vh;
        line-height: 22px;
        z-index: 3;
        padding: 40px 10px 10px 6%;
    }

    .charity__above-the-fold__text-wrapper p {
        max-width: 380px;
        padding-left: 2%;
    }

    /*--- 📜📜 ---*/
    @media only screen and (min-width: 900px) and (max-width: 1099px) {

        .charity__above-the-fold__image-wrapper__tablet {
            display: grid;
            grid-template-columns: repeat(12, 8.33%);
            grid-template-rows: repeat(4, 1fr);
        }

        .charity__above-the-fold__image-wrapper__tablet img {
            grid-column: 8 / 12;
            grid-row: 1 / 5;
            height: 80%;
        }
    }
